$nav-color:                #1f1f1f !default;
$flexnav-color:            $nav-color !default;
$flexnav-link-color:       change_color($flexnav-color, $lightness: 100% - max(0%, lightness($flexnav-color) * 0.5)) !default;
$flexnav-link-color-hover: change_color($flexnav-color, $lightness: 100% - max(0%, lightness($flexnav-color) * 0.2)) !default;

$nav-height:            68px !default;
$logo-padding:          10px !default;
$ios-topbar-height:     15px !default;
$flexnav-padding-ends:  6px !default;
$flexnav-padding-sides: 10px !default;
$flexnav-font-size:     1.2em !default;
