$nav-color: #1f1f1f;
$flexnav-link-color-hover: blue;
$nav-height: 68px !default;
$logo-padding: 10px !default;
$flexnav-color: $nav-color !default;
$flexnav-link-color: change_color($flexnav-color, $lightness: 100% - max(0%, lightness($flexnav-color) * 0.5)) !default;
$flexnav-link-color-hover: change_color($flexnav-color, $lightness: 100% - max(0%, lightness($flexnav-color) * 0.2)) !default;
$ios-topbar-height: 15px;
$flexnav-padding-ends: 6px;
$flexnav-padding-sides: 10px;
$flexnav-font-size: 1.2em;
